# Wordpress - ignore core, configuration, examples, uploads and logs.
# https://github.com/github/gitignore/blob/main/WordPress.gitignore

# Ignore everything:
*

# Except for the plugin and themes directories I'm templating:
!wp/
!wp/wp-content/
!wp/wp-content/plugins/

!wp/wp-content/plugins/vanilla/
!wp/wp-content/plugins/vanilla/*
!wp/wp-content/plugins/vanilla/*/*
!wp/wp-content/plugins/vanilla/*/*/*

!wp/wp-content/plugins/chocolate/
!wp/wp-content/plugins/chocolate/*
!wp/wp-content/plugins/chocolate/*/*
!wp/wp-content/plugins/chocolate/*/*/*

!wp/wp-content/plugins/teamMembers/
!wp/wp-content/plugins/teamMembers/*
!wp/wp-content/plugins/teamMembers/*/*
!wp/wp-content/plugins/teamMembers/*/*/*

!wp/wp-content/plugins/listblock/
!wp/wp-content/plugins/listblock/*
!wp/wp-content/plugins/listblock/*/*
!wp/wp-content/plugins/listblock/*/*/*

!wp/wp-content/plugins/uibp01/
!wp/wp-content/plugins/uibp01/*
!wp/wp-content/plugins/uibp01/*/*
!wp/wp-content/plugins/uibp01/*/*/*

!wp/wp-content/plugins/stickyblock/
!wp/wp-content/plugins/stickyblock/*
!wp/wp-content/plugins/stickyblock/*/*
!wp/wp-content/plugins/stickyblock/*/*/*

!wp/wp-content/plugins/flexslider/
!wp/wp-content/plugins/flexslider/*
!wp/wp-content/plugins/flexslider/*/*
!wp/wp-content/plugins/flexslider/*/*/*




wp/wp-content/plugins/vanilla/package-lock.json
wp/wp-content/plugins/vanilla/build
wp/wp-content/plugins/vanilla/build/*
wp/wp-content/plugins/vanilla/build/*/*

wp/wp-content/plugins/chocolate/package-lock.json
wp/wp-content/plugins/chocolate/build
wp/wp-content/plugins/chocolate/build/*
wp/wp-content/plugins/chocolate/build/*/*

wp/wp-content/plugins/teamMembers/package-lock.json
wp/wp-content/plugins/teamMembers/build
wp/wp-content/plugins/teamMembers/build/*
wp/wp-content/plugins/teamMembers/build/*/*

wp/wp-content/plugins/listblock/package-lock.json
wp/wp-content/plugins/listblock/build
wp/wp-content/plugins/listblock/build/*
wp/wp-content/plugins/listblock/build/*/*

wp/wp-content/plugins/uibp01/package-lock.json
wp/wp-content/plugins/uibp01/build
wp/wp-content/plugins/uibp01/build/*
wp/wp-content/plugins/uibp01/build/*/*

wp/wp-content/plugins/stickyblock/package-lock.json
wp/wp-content/plugins/stickyblock/build
wp/wp-content/plugins/stickyblock/build/*
wp/wp-content/plugins/stickyblock/build/*/*

wp/wp-content/plugins/flexslider/package-lock.json
wp/wp-content/plugins/flexslider/build
wp/wp-content/plugins/flexslider/build/*
wp/wp-content/plugins/flexslider/build/*/*


!wp/wp-content/themes/
!wp/wp-content/themes/block-theme/
!wp/wp-content/themes/block-theme/*
!wp/wp-content/themes/block-theme/*/*
!wp/wp-content/themes/block-theme/*/*/*
