# Wordpress - ignore core, configuration, examples, uploads and logs.
# https://github.com/github/gitignore/blob/main/WordPress.gitignore

# Ignore everything:
*

# Except for the plugin and themes directories I'm templating:
!wp/
!wp/wp-content/
!wp/wp-content/plugins/

!wp/wp-content/plugins/text-box/
!wp/wp-content/plugins/text-box/*
!wp/wp-content/plugins/text-box/*/*
!wp/wp-content/plugins/text-box/*/*/*

!wp/wp-content/plugins/vanilla/
!wp/wp-content/plugins/vanilla/*
!wp/wp-content/plugins/vanilla/*/*
!wp/wp-content/plugins/vanilla/*/*/*

!wp/wp-content/plugins/chocolate/
!wp/wp-content/plugins/chocolate/*
!wp/wp-content/plugins/chocolate/*/*
!wp/wp-content/plugins/chocolate/*/*/*

!wp/wp-content/themes/
!wp/wp-content/themes/block-theme/
!wp/wp-content/themes/block-theme/*
!wp/wp-content/themes/block-theme/*/*
!wp/wp-content/themes/block-theme/*/*/*

wp/wp-content/plugins/vanilla/build
wp/wp-content/plugins/vanilla/build/*
wp/wp-content/plugins/vanilla/build/*/*